<html>
<head>
	<title>Geek Ninjas</title>
	<link rel="stylesheet" type="text/css" href="./css/test1.css">
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="geek, ninjas, ninja, geekninja, geekninjas, geek news, geek ninja, geek ninjas">
	<meta name="author" content="Geek Ninjas">
	<meta name="description" content="Geek Ninjas is currently undercontruction. Please come back soon to view updated geek news, photos, and giveaways.">
	<link rel="shortcut icon" href="./images/fav" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="./js/bower_components/jquery.countdown/dist/jquery.countdown.js"></script>
	<script type="text/javascript" src="./js/bower_components/jquery.countdown/dist/jquery.countdown.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>

	<style type="text/css">

		.body {
			background-image: url("../images/background2.jpeg");
			background-repeat: no-repeat;
		  background-position: 10% 10%;
		  background-size: cover; 
		  width: 100%;
		  height: 100%;
		  font-family: 'Press Start 2P', cursive;
		  color: #dddddd;
		}
		.content {
			text-align: center;
			margin-top: 100px;
		}
		.time {
			display: inline-block;
			margin: 10px;
		}
		#countdown {
			margin-top: 50px;
		}

		.time h2 {
			border-bottom: 2px solid black;
			font-size: 30px;
		}
		.socialIcons a {
			color: #dddddd;
			margin: 10px 25px;
		}

	</style>
</head>

<script type="text/javascript">
	$(document).ready(function(){

		$(".content").hide();
		$(".content").fadeIn(3000);

		$("#countdown").countdown("2015/08/14", function(results){
			$("#days").text(results.strftime("%D"));
			$("#hours").text(results.strftime("%H"));
			$("#minutes").text(results.strftime("%M"));
			$("#seconds").text(results.strftime("%S"));



		})

	});


</script>
<body>
	<div class="body">
		<div class="container">

			<div class="content">

				<div>
					<h1>Geek Ninjas</h1>
					<p>(Ninja Ready In)</p>
				</div>

				<div id="countdown">
					<div class="row">
						<div class="time">
							<h2><span id="days"></span></h2>
							<p>Days</p>
						</div>
						<div class="time">
							<h2><span id="hours"></span></h2>
							<p>Hours</p>
						</div>
						<div class="time">
							<h2><span id="minutes"></span></h2>
							<p>Minutes</p>
						</div>
						<div class="time">
							<h2><span id="seconds"></span></h2>
							<p>Seconds</p>
						</div>
					</div>
				</div>
				<!-- end of countdown -->

				<div class="socialIcons">
					<!-- <img src="./images/twitter.png"> -->
					<a href="https://instagram.com/geekninjas"><i class="fa fa-instagram fa-3x"></i></a>
					<a href="https://www.facebook.com/geekninjas"><i class="fa fa-facebook-square fa-3x"></i></a>
					<!-- <img src="./images/facebook.tif"> -->
				</div>

			</div>
			<!-- end of content -->

		</div>
		<!-- end of container -->
	</div>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-61671565-5', 'auto');
	  ga('send', 'pageview');

	</script>

</body>
</html>